/* Document */

body {
  background-color: hsl(206.25, 47.06%, 93.33%);
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  justify-content: center;
  align-items: center;
}

/* Component */

.component {
  font-family: "Karla";
  font-weight: 400;
  font-size: 16px;
  color: hsl(218, 22%, 67%);
  background-color: white;
  border-radius: 0.5rem;
  max-width: 630px;
  padding: 0;
}

.section {
  padding: 2rem;
}

.subtitle {
  font-weight: 700;
  font-size: 1.1rem;
}

/* CTA Section */

.cta-title {
  color: hsl(179, 62%, 43%);
  font-weight: 700;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.cta-subtitle {
  color: hsl(71, 73%, 54%);
}

/* Subscription Section */

.subscription-section {
  color: hsl(204, 43%, 93%);
  background-color: hsl(179, 62%, 43%);
}

.subscription-title {
  padding-bottom: 0.5rem;
}

.price {
  display: table;
  margin: 0;
}

.price-number {
  font-size: 2rem;
  font-weight: 700;
}

.price-frequency {
  color: hsl(179, 45%, 75%);
  vertical-align: middle;
  display: table-cell;
  padding-left: 1rem;
}

.btn {
  background-color: hsl(71, 73%, 54%);
  border: 0;
}

.btn:hover,
.btn:focus {
  background-color: hsl(212, 21%, 14%);
  box-shadow: none !important;
}

/* Why Us Section */

.why-us-section {
  color: hsl(204, 43%, 93%);
  background-color: hsl(179, 47%, 52%);
}

.why-us-section ul {
  padding-left: 0;
  list-style-type: none;
  font-size: 0.8rem;
  color: hsl(179, 45%, 85%);
}

/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: auto;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
